<div
  fxLayout="row"
  fxLayoutAlign="center center"
  [ngClass]="'carousel-container'"
>
  <div fxFlex="7" class="text-align">
    <mat-icon (click)="onPrevClick()"> arrow_back_ios_outline</mat-icon>
  </div>

  <div fxFlex="86" [ngClass]="'carousel-horizontal-scroll'">
    <div
      style="width: 100%; height: 80%; border: 1px solid black;"
      *ngFor="let slide of slides; let i = index"
    >
      <div [id]="name + i" style="width: 100%; height: 100%;">
        <ng-template #template [ngTemplateOutlet]="slide.template">
        </ng-template>
      </div>
    </div>
  </div>

  <div fxFlex="7">
      <mat-icon (click)="onNextClick()">arrow_forward_ios</mat-icon>
  </div>
</div>
