<div
  fxLayout="column"
  *ngIf="employeeLoading || videoLoading || companyLoading || imageLoading"
  fxLayoutAlign="center center"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>

<div
  fxLayout="column"
  *ngIf="!employeeLoading && !videoLoading  && !companyLoading && !imageLoading"
  fxLayoutAlign="center center"
  class="loader"
>
  <app-profile
  style="width:100%"
  [employee]="details"
  [document]="documents"
  [liveliness]="liveliness"
  [selfie]="selfie"
  [company]="company.name"
  [status]="employee.status"
  [userType] = "userType"
  > </app-profile>
</div>
