<div
  fxLayout="column"
  *ngIf="employeeLoading || videoLoading || companyLoading || imageLoading"
  fxLayoutAlign="center center"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>

<div
  fxLayout="column"
  *ngIf="!employeeLoading && !videoLoading && !companyLoading && !imageLoading"
  fxLayoutAlign="center center"
>
  <app-profile
    style="width: 100%; margin-top:100px"
    [employee]="details"
    [document]="documents"
    [liveliness]="liveliness"
    [selfie]="selfie"
    [company]="company.name"
    [employeeId]="employee.employeeId"
    [status]="employee.status"
    [userType]="userType"
  >
  </app-profile>
</div>
