<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayout="column"
    [ngStyle.xs]="{ width: '100%' }"
    [ngStyle.sm]="{ width: '70%' }"
    [ngStyle.md]="{ width: '50%' }"
    [ngStyle.lg]="{ width: '40%' }"
    [ngStyle.xl]="{ width: '40%' }"
  >

    <div [class.show]="!camera" [class.hide]="camera" fxFlex>
      <img
        (click)="startCamera()"
        style="border-radius: 10px"
        height="200"
        width="200"
        src="/assets/images/camera-icon.jpg"
      />
    </div>

    <div [class.show]="camera" [class.hide]="!camera" fxFlex>
      <video
        #video
        [class.show]="!captured"
        [class.hide]="captured"
        [width]="300"
        [height]="300"
        autoplay
      ></video>
      <canvas
        #canvas
        [class.show]="captured"
        [class.hide]="!captured"
        [width]="300"
        [height]="300"
      ></canvas>
      <div [class.show]="!captured" [class.hide]="captured">
        <button (click)="capture()">Capture</button>
        <button (click)="stopCamera()">Stop</button>
      </div>
      <div [class.show]="captured" [class.hide]="!captured">
        <button (click)="retry()">retry</button>
        <button (click)="save()">Sabe</button>
        <a #a></a>
      </div>
    </div>

  </div>
</div>
