.show {
  display: block;
}

.hide {
  display: none;
}

.camera-icon {
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-raised-button {
  width: 100%;
  margin-top: 1%;
}

.mat-stroked-button {
  width: 100%;
  margin-top: 1%;
}
