.company-container {
  margin-top: 1%;

  .search-comapny {
    width: 90%;
    font-size: 12px;
    display: block;

    .search-form-field {
      width: 50%;
    }
    .search-button {
      margin-top: 0.2em;
      height: 43px;
    }
  }

  .company-card {
    width: 90%;
    margin-bottom: 16px;
  }
}

.company-container-mobile {
  margin-top: 1%;

  .search-comapny-mobile {
    width: 90%;
    font-size: 12px;

    .search-form-field-mobile {
      width: 50%;
      width: 90%;
    }
    .search-button-mobile {
      margin-top: 0.2em;
      height: 43px;
    }
  }

  .company-card-mobile {
    margin-bottom: 16px;
  }
}

.card {
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  min-height: 90%;

  padding-bottom: 20px;
  margin-bottom: 20px;

  min-height: 100%;
}

.employee-status-mobile {
  display: inline;
}
