.company-container {
  margin-top: 1%;

  .search-comapny {
    width: 90%;
    font-size: 12px;
    display: block;

    .search-form-field {
      width: 50%;
    }
    .search-button {
      margin-top: 0.2em;
      height: 43px;
    }
  }

  .company-card {
    width: 90%;
    margin-bottom: 16px;
  }
}

.company-container-mobile {
  margin-top: 1%;

  .search-comapny-mobile {
    width: 90%;
    font-size: 12px;

    .search-form-field-mobile {
      width: 50%;
      width: 90%;
    }
    .search-button-mobile {
      margin-top: 0.2em;
      height: 43px;
    }
  }

  .company-card-mobile {
    margin-bottom: 16px;
  }
}

.container-card {
  width: 96%;
  margin-top: 2%;
}

.container-card-mobile {
  width: 100%;
  margin-top: 0.5%;
  padding: 8px;
}

.employee-status-mobile {
  display: inline;
}
