.company-container {
  margin-top: 1%;

  .search-comapny {
    width: 95%;
    font-size: 12px;
    display: block;

    .search-form-field {
      width: 50%;
    }
    .search-button {
      margin-top: 0.2em;
      height: 43px;
    }
  }
}

.company-container-mobile {
  margin-top: 1%;

  .search-comapny-mobile {
    width: 95%;
    font-size: 12px;

    .search-form-field-mobile {
      width: 90%;
    }
    .search-button-mobile {
      margin-top: 0.2em;
      height: 43px;
    }
  }
}

.container-card {
  width: 96%;
  margin-top: 2%;
  min-height: 100%;
  background-color: rgb(253, 253, 253);
}

.container-card-mobile {
  width: 100%;
  margin-top: 0.5%;
  padding: 8px;
  background-color: rgb(253, 253, 253);
}

.company-paginator {
  width: 95%;
}


::ng-deep .mat-paginator {
  background-color: rgba($color: #ffffff, $alpha: 0);
}
