<header class="header">

  <div class="row" fxLayout="row">

      <button mat-icon-button color="primary"
        (click)="toggleMenu()"
        *ngIf="deviceSmall && !isOpen">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-icon-button color="primary"
        (click)="toggleMenu()"
        *ngIf="deviceSmall && isOpen">
        <mat-icon>clear</mat-icon>
      </button>


      <div class="logo">
        <img src="/assets/images/logo.png" />
      </div>

      <button
      mat-raised-button
      (click) = "doLogout()"
      class="logout"
      color="warn"
      *ngIf="loginService.isLoggedIn()"
    >
      Log Out
    </button>
    </div>

    <!-- <div class="buttons">
      <div class="btns">
        <button mat-button> About </button>
        <button mat-button> Contact Us </button>
      </div>
    </div> -->

  </header>
