<div fxLayout="column" *ngIf="loading" fxLayoutAlign="center center" class="loader">
  <mat-spinner></mat-spinner>
</div>

<div fxLayout="column" *ngIf="!loading" fxLayoutAlign="start center" style="height: 100%;">
  <mat-card [ngClass.gt-xs]="'container-card'" [ngClass.lt-sm]="'container-card-mobile'" *ngIf="!zeroEmployees">
    <div class="pie-chart-container" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column">
      <div class="pie-chart" *ngIf="!zeroEmployees">
        <ngx-charts-pie-chart [view]="chartView" [scheme]="colorScheme" [results]="pieChartData" [gradient]="gradient"
          [legend]="showNormalLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-pie-chart>
      </div>
      <div [ngClass.gt-xs]="'pie-chart-legend'" [ngClass.xs]="'pie-chart-legend-mobile'" fxLayout="row"
        fxLayoutAlign="end" fxLayoutAlign.lt-md="center">

        <ngx-charts-advanced-pie-chart style="line-height: 15px" [view]="legendView" [scheme]="colorScheme"
          [results]="pieChartData" [label]="'Total Employees'">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </mat-card>
  <mat-card
  [ngClass.gt-xs]="'container-card'"
  [ngClass.lt-sm]="'container-card-mobile'"
  *ngIf="!zeroEmployees">
    <h2>Recently Added Employees</h2>
    <!-- Employee-Card-Component -->
    <div *ngFor="let employee of employees" class="employee-card">
      <app-employee-card
        [employee]="employee"
        [isSmall]="isSmall"
      ></app-employee-card>
    </div>
      <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center">
        <button mat-stroked-button color="primary" routerLink="/company/employees"> View More <mat-icon aria-label="i">
            expand_more
          </mat-icon></button>
      </div>
  </mat-card>
  <mat-card [ngClass.gt-xs]="'no-employee-container-card'" [ngClass.lt-sm]="'no-employee-container-card-mobile'"
    *ngIf="zeroEmployees"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-around center"
    fxLayout.xs="column-reverse"
    fxLayoutAlign.xs="space-around center"
    >

    <div
    [ngClass.xs]="'no-employee-content-mobile'"
    [ngClass.gt-xs]="'no-employee-content'"
    >
      <div class="no-employee-text">
        <h1 class="no-employee-heading">
          No Employee Has Been Registered Yet!
        </h1>
        <h2 class="no-employee-sub-heading">
          Please Register an Employee.
        </h2>
      </div>
      <div class="register-button">
        <button mat-stroked-button color="primary" routerLink="/company/register"> Get Started <mat-icon>navigate_next</mat-icon> </button>
      </div>
    </div>
    <div
    [ngClass.xs]="'no-employee-image-container-mobile'"
    [ngClass.gt-xs]="'no-employee-image-container'">
      <img class="no-employee-image" src="assets/images/no-employee-dashboard.png">
    </div>
  </mat-card>
</div>
