<div class="card">

<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayout="column"
    [ngStyle.xs]="{ width: '100%' }"
    [ngStyle.sm]="{ width: '70%' }"
    [ngStyle.md]="{ width: '50%' }"
    [ngStyle.lg]="{ width: '40%' }"
    [ngStyle.xl]="{ width: '40%' }"
  >

  <!-- icon conainer -->
    <div [ngClass]="{'show':!camera, 'hide': camera}">
        <p fxLayout="column" fxLayoutAlign="center center">
          <span style="text-align: center;">{{question}}</span>
          <button style="width: 35%;" mat-raised-button color="primary" (click)="getQuestion()"> new </button>
        </p>
        <img
        class="video-camera-icon"
        (click)="startCamera()"
        height="200"
        width="200"
        src="/assets/images/video-camera-icon.png"
        />
    </div>

    <!-- video container -->
    <div [class.show]="camera" [class.hide]="!camera" fxFlex>

      <p>{{question}}</p>
      <p *ngIf="timeleft > 0">Timeleft: {{timeleft}}</p>
      <!-- to capture video -->
      <video
        #toCapture
        [class.show]="!captured"
        [class.hide]="captured"
        [width]="500"
        [height]="300"
        autoplay
      ></video>

      <!-- to play video -->
      <video
        #toPlay
        [class.show]="captured"
        [class.hide]="!captured"
        controls
        [width]="500"
        [height]="300"
      ></video>

      <!-- while recording the video -->
      <div [class.show]="!captured" [class.hide]="captured">
        <button mat-raised-button color="primary" (click)="stopCamera()">Stop</button>
      </div>

      <!-- after recording the video -->
      <div [class.show]="captured" [class.hide]="!captured">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button color="primary" (click)="retry()">Retry</button>
      </div>

    </div>
  </div>
</div>
