.show {
  display: block;
}

.hide {
  display: none;
}

.video-camera-icon {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.mat-raised-button {
  width: 100%;
  margin-top: 2vh;
}

.mat-stroked-button {
  width: 100%;
  margin-top: 2vh;
}
