:host {
  display: block;
}

.modal {
}

.modal-header {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal-body {
}

// mat-tab {
//   margin-bottom: 50px;
// }

// app-login {
//   margin-top: 60px;
// }
