<div
  fxLayout="column"
  *ngIf="employeeLoading || videoLoading || imageLoading || documentLoading"
  fxLayoutAlign="center center"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="!employeeLoading && !videoLoading && !imageLoading && !documentLoading"
>
  <app-profile
    [employee]="details"
    [document]="documents"
    [liveliness]="liveliness"
    [selfie]="selfie"
    company=""
    userType="employee"
    style="margin-top:100px;display: block;"
  ></app-profile>
  <button mat-raised-button color="primary" style="float:right;width:20%" (click)="submitKYC()">Submit</button>
</div>
