<div
  fxLayout="column"
  *ngIf="employeeLoading || videoLoading || imageLoading || documentLoading"
  fxLayoutAlign="center center"
  class="loader"
>
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="!employeeLoading && !videoLoading && !imageLoading && !documentLoading"
  class="card"
>
  <app-profile
    [employee]="details"
    [document]="documents"
    [liveliness]="liveliness"
    [selfie]="selfie"
    company=""
    userType="employee"
  ></app-profile>
  <button mat-raised-button (click)="submitKYC()">Submit</button>
</div>
