<div fxLayout="column" fxLayoutAlign="center center">

  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" style='width: 100%;'>

    <mat-form-field fxflex>
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput required />
      <!-- <mat-error *ngIf="errorHandling('firstName', 'required')">
        You must give <strong>first name</strong>
      </mat-error> -->
      <mat-error *ngIf="!form.get('firstName').valid && form.get('firstName').touched">
        You must give <strong>first name</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput required />
      <mat-error *ngIf="!form.get('lastName').valid && form.get('lastName').touched">
        You must give <strong>Last name</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required />
      <mat-error *ngIf="
        form.controls['email'].hasError('email') ||
        form.controls['email'].hasError('required')
      ">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>Contact Number</mat-label>
      <input formControlName="contact" matInput required />
      <mat-error *ngIf="!form.get('contact').valid && form.get('contact').touched">
        You must give <strong>contact</strong>
      </mat-error>
    </mat-form-field>

    <div style="width:100%;">
      <label> Gender : </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="m" required>Male</mat-radio-button>&nbsp;
        <mat-radio-button value="f" required>Female</mat-radio-button>
        <!-- <mat-error *ngIf="!form.get('gender').valid && form.get('gender').touched">
          You must give <strong>your gender</strong>
        </mat-error> -->
      </mat-radio-group>
      <mat-error *ngIf="form.controls['gender'].hasError('required')">
        You must give <strong>your gender</strong>
      </mat-error>
    </div>

    <mat-form-field fxflex>
      <mat-label>Address Line 1</mat-label>
      <input formControlName="addressLine1" matInput required />

      <mat-error *ngIf="!form.get('addressLine1').valid && form.get('addressLine1').touched">
        You must provide your <strong> address</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>Address Line 2</mat-label>
      <input formControlName="addressLine2" matInput />
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>City</mat-label>
      <input formControlName="city" matInput required />
      <mat-error *ngIf="!form.get('city').valid && form.get('city').touched">
        You must give <strong>city name</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>State</mat-label>
      <input formControlName="state" matInput required />
      <mat-error *ngIf="!form.get('state').valid && form.get('state').touched">
        You must give its <strong>state name</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>Country</mat-label>
      <input formControlName="country" matInput required />
      <mat-error *ngIf="!form.get('country').valid && form.get('country').touched">
        Company must give its <strong>country name</strong>
      </mat-error>
    </mat-form-field>

  </form>

</div>
