<div fxLayout="row" fxLayoutAlign="center center">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">

      <mat-form-field appearance="outline">
        <mat-label>Email or Username</mat-label>
        <input
        matInput
        placeholder=""
        formControlName="username"
        />
        <mat-error *ngIf="!form.get('username')?.valid && form.get('username')?.touched">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="should be 8 characters long"
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>

  </form>
</div>
