
<div fxLayout="row" fxLayoutAlign="center center">
    <form #signupform="ngForm">
      <div fxLayout="column" fxLayoutAlign="center center" >
    <mat-form-field>
      <mat-label>Email or Username</mat-label>
      <input matInput placeholder="" [formControl]="loginemailFormControl">
      <mat-error *ngIf="loginemailFormControl.hasError('email') && !loginemailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginemailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="should be 8 characters long" type="password" [formControl]="loginpasswordFormControl">
      <mat-error *ngIf="loginpasswordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
    </form>
  </div>
