.home {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  width: 100%;
}

.login {
  height: 100%;
  width: 100%;
}

.left {
  .heading {
    color: #738f93;
  }

  .heading-small {
    @extend .heading;
    font-size: 2rem;
    line-height: 3rem;
  }

  .heading-large {
    @extend .heading;
    font-size: 2.7rem;
    line-height: 3.7rem;
  }

  .sub-heading {
    text-align: justify;
  }

  .sub-heading-small {
    @extend .sub-heading;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sub-heading-large {
    @extend .sub-heading;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .login-small {
    font-size: 1.5rem;
    width: 40%;
  }

  .login-large {
    font-size: 1.5rem;
    width: 30%;
  }
}

.right {
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  background: white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  height: 57%;
  width: 15%;

  //transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}

.card-container-small {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  transform: rotate(5deg) skew(5deg) translateY(7rem) !important;
}

.card-small {
  background: white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin-right: 15%;
  margin-left: 15%;
  height: 70%;
  width: 70%;
  &:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}

.card-container-small::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.card-container-small::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
}

.card-container-small::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

.card-container-small::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.about {
  height: 80%;
  width: 100%;
  background-image: linear-gradient(180deg, lightblue, teal);
  transform: rotate(-5deg) skew(-5deg) translateY(5rem);

  & > * {
    transform: rotate(5deg) skew(5deg);
  }

  .about-heading {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    font-size: 2rem;
    transform: rotate(5deg) skew(5deg) translateY(5rem) !important;
  }
}

.service {
  height: 80%;
  width: 100%;
  background-image: linear-gradient(180deg, lightblue, teal);
  transform: rotate(-5deg) skew(-5deg) translateY(10rem);

  & > * {
    transform: rotate(5deg) skew(5deg);
  }

  .service-heading {
    float: right !important;
    margin-right: 10%;
    font-size: 2rem;
    transform: translateY(5rem) rotate(5deg) skew(5deg) !important;
  }
}

.team {
  height: 80%;
  width: 100%;
  background-image: linear-gradient(180deg, lightblue, teal);
  transform: rotate(-5deg) skew(-5deg) translateY(15rem);

  & > * {
    transform: rotate(5deg) skew(5deg);
  }

  .team-heading {
    float: right !important;
    margin-right: 10%;
    font-size: 2rem;
    transform: translateY(5rem) rotate(5deg) skew(5deg) !important;
  }
}

.product {
  height: 80%;
  width: 100%;
  background-image: linear-gradient(180deg, lightblue, teal);
  transform: rotate(-5deg) skew(-5deg) translateY(20rem);

  & > * {
    transform: rotate(5deg) skew(5deg);
  }

  .product-heading {
    float: right !important;
    margin-right: 10%;
    font-size: 2rem;
    transform: translateY(5rem) rotate(5deg) skew(5deg) !important;
  }
}

.solution {
  height: 80%;
  width: 100%;
  background-image: linear-gradient(180deg, lightblue, teal);
  transform: rotate(-5deg) skew(-5deg) translateY(25rem);

  & > * {
    transform: rotate(5deg) skew(5deg);
  }

  .solution-heading {
    float: right !important;
    margin-right: 10%;
    font-size: 2rem;
    transform: translateY(5rem) rotate(5deg) skew(5deg) !important;
  }
}

.home-footer {
  transform: translateY(10rem);
}
