<div class="home">
  <div class="login" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10"></div>

    <div
      class="left"
      fxFlex="40"
      fxFlex.sm="80"
      fxFlex.xs="80"
      fxLayout="column"
      fxLayoutAlign="space-around start"
    >
      <div
        [ngClass.xs]="'heading-small'"
        [ngClass.sm]="'heading-small'"
        [ngClass.md]="'heading-small'"
        [ngClass.lg]="'heading-large'"
        [ngClass.xl]="'heading-large'"
      >
        Verifying employees <br />
        for great companies.
      </div>

      <br />



      <div
        [ngClass.xs]="'sub-heading-small'"
        [ngClass.sm]="'sub-heading-small'"
        [ngClass.md]="'sub-heading-small'"
        [ngClass.lg]="'sub-heading-large'"
        [ngClass.xl]="'sub-heading-large'"
      >
        From small businesses to global organizations, spanning a wide range of
        industries, our suite of solutions will help you hire with confidence,
        stay compliant and manage the entire process.
      </div>

      <br />

      <div
        [ngClass.xs]="'login-small'"
        [ngClass.sm]="'login-small'"
        [ngClass.md]="'login-large'"
        [ngClass.lg]="'login-large'"
        [ngClass.xl]="'login-large'"
        style="width: 30%"
      >
        <button
          (click)="showCompanyLoginModal()"
          style="width: 100%"
          mat-raised-button
          color="primary"
        >
          Log In
        </button>
      </div>

      <br />

      <div>
        Don't have account ?<a
          style="text-decoration: none; color: teal"
          routerLink="/company/signup"
        >
          Sign up</a
        >
      </div>
    </div>

    <div fxFlex="5"></div>

    <div class="right" fxFlex="40" *ngIf="!isSmall">
      <img src="/assets/images/homepage.gif" alt="homepage" />
    </div>

    <div fxFlex="5"></div>
  </div>

  <div class="about">
    <div
      [ngClass.xs]="'about-heading'"
      [ngClass.sm]="'about-heading'"
      [ngClass.md]="'about-heading'"
      [ngClass.lg]="'about-heading'"
      [ngClass.xl]="'about-heading'"
    >
      <b>About us</b>
    </div>

    <!--
      <div class="card-container">
      <div [ngClass.gt-sm]="'card'"></div>
      <div [ngClass.gt-sm]="'card'"></div>
      <div [ngClass.gt-sm]="'card'"></div>
      </div>
    -->

    <div style="width: 100%; height: 100%;">
      <app-carousel name="about">
        <div *carousel-slide > 1</div>
        <div *carousel-slide > 2 </div>
        <div *carousel-slide > 3</div>
      </app-carousel>
    </div>

  </div>







  <!-- <div class="service">

    <div
      [ngClass.xs]="'service-heading'"
      [ngClass.sm]="'service-heading'"
      [ngClass.md]="'service-heading'"
      [ngClass.lg]="'service-heading'"
      [ngClass.xl]="'service-heading'"
    >
      <b>Our Services</b>
    </div>
    <br/>

    <app-carousel name="service">
      <div *templateMarker>1</div>
      <div *templateMarker>2</div>
      <div *templateMarker>asdfasdff</div>
    </app-carousel>

    <br/> -->

  <!-- transform:rotate(5deg) skew(5deg) translateY(5rem) -->

  <!-- <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;height:80%;">

      <div style="text-align: center;" fxFlex="10">
        <img (click)="prev()" style="width: 32px; height: 32px;" src="/assets/images/left-arrow.png">
      </div>

      <div fxFlex="80" style="display:flex; flex-direction:column; width: 100%; height: 100%; flex-wrap: wrap; justify-content: space-around; align-items: center; overflow-x: scroll; overflow-y: hidden;">
        <div id="2" style="width: 100%;height: 100%;border: 1px solid black">
          1
        </div>
        <div id="2" style="width: 100%;height: 100%;border: 1px solid black">
          2
        </div>
        <div id="3" style="width: 100%;height: 100%;border: 1px solid black">
          3
        </div>
      </div>

      <div style="text-align: center;" fxFlex="10">
        <img (click)="next()" style="width: 32px; height: 32px;" src="/assets/images/right-arrow.png">
      </div>

    </div> -->

  <!-- </div> -->

  <!-- <div class="team">
    <div
      [ngClass.xs]="'team-heading'"
      [ngClass.sm]="'team-heading'"
      [ngClass.md]="'team-heading'"
      [ngClass.lg]="'team-heading'"
      [ngClass.xl]="'team-heading'"
    >
      <b>Our Team</b>
    </div>
  </div>

  <div class="product">
    <div
      [ngClass.xs]="'product-heading'"
      [ngClass.sm]="'product-heading'"
      [ngClass.md]="'product-heading'"
      [ngClass.lg]="'product-heading'"
      [ngClass.xl]="'product-heading'"
    >
      <b>Our Product</b>
    </div>
  </div>

  <div class="solution">
    <div class="solution-heading">
      <b>Our Solutions</b>
    </div>
  </div> -->

  <!-- <div class="home-footer">
    <app-footer></app-footer>
  </div> -->

</div>
