<div class="profile-container" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="profile-card" fxLayout="column"  >
    <div class="card-container" fxLayout="column" fxLayoutAlign="start start">
      <mat-card-header
      [ngClass.gt-sm]="'profile-card-header-large'"
      [ngClass.sm]="'profile-card-header-medium'"
      [ngClass.xs]="'profile-card-header-mobile'"
      fxLayout="row wrap" fxLayoutAlign="start center">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title class="profile-name" >{{employee.firstName}} {{employee.lastName}}</mat-card-title>
        <mat-card-subtitle class="profile-email">{{employee.emailID}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="profile-card-content" fxLayout="column" fxLayoutAlign="start start">
        <div class="profile-gender"><strong>Gender:</strong> Male</div>
        <div class="profile-address"><strong>Address:</strong> {{employee.address}}</div>
        <div class="profile-document"><strong>Document Details:</strong> Document Type: Document No.</div>
        <div class="profile-video"><strong>Profile Video: </strong> Video</div>
        <div class="profile-buttons" fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-stroked-button color="primary"><mat-icon>check</mat-icon>&nbsp;Accept</button>
          <button mat-stroked-button color="warn"><mat-icon>clear</mat-icon>&nbsp;Reject</button>
        </div>
      </mat-card-content>
    </div>

  </mat-card>

</div>


