
.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav-large{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  background: #afc9c5;
}

.sidenav-medium{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background: #afc9c5;
}

.sidenav-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #afc9c5;
}


.sidenav-expansion {
  background-color: rgba(167, 57, 57, 0);
  .sidenav-expansion-header {
    font-size: 16px;
    padding-left: 16px;
  }
}

.a {
  background-color: rgba(231, 231, 231, 0.5);
}
