
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="hasBackdrop">
  <mat-sidenav [mode]="sidenavMode" [opened]=sidenavOpen
   class="sidenav"

   [ngClass.gt-sm]="'sidenav-large'"
   [ngClass.sm]="'sidenav-medium'"
   [ngClass.xs]="'sidenav-mobile'"

   fixedInViewport="false" >
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/company/employees">Employees</a>
    </mat-nav-list>
    <mat-expansion-panel  class="mat-elevation-z0 sidenav-expansion">
      <mat-expansion-panel-header class="sidenav-expansion-header">
        <mat-panel-title>
        Register Employees
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item>Single Employee</a>
        <a mat-list-item>Multiple Employees</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
