@use '~@angular/material' as mat;
@import '~@angular/material/theming';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

$my-primary: mat.define-palette(mat.$teal-palette);
$my-accent: mat.define-palette(mat.$cyan-palette);
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent
 )
));

@include mat.button-theme($my-theme);
@include mat.stepper-theme($my-theme);
@include mat.input-theme($my-theme);
@include mat.form-field-theme($my-theme);
