
  <form fxLayout="column" fxLayoutAlign="center start">

    <mat-form-field fxflex>
      <mat-label>Document Type</mat-label>
      <mat-select required>
        <mat-option value="aadhar" name="documentType">
          Aadhar Card
        </mat-option>
        <mat-option value="pan" name="documentType">
          Pan Card
        </mat-option>
        <mat-option value="driving" name="documentType">
          Driving Licence
        </mat-option>
        <mat-option value="passport" name="documentType">
          Passport
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxflex>
      <mat-label>Document Number</mat-label>
      <input
        matInput [(ngModel)] = "docNumber" required name="documentNumber"
      />
    </mat-form-field>

    <div style="width: 100%;">
      <input #input hidden="true" type="file" (change)="onChange($event)" />
      <button mat-raised-button color="primary" (click)="input.click()"> Upload Document </button>
      <br/>
      <img [height]='300' [width]="300" [src]="src" />
    </div>

  </form>
