<div
  [ngClass.gt-xs] = "'employee-container'"
  [ngClass.lt-sm] = "'employee-container-mobile'"
  fxLayout="row wrap" fxLayoutAlign="center" fxLayoutAlign.xs="space-around center">
<div
  [ngClass.gt-xs] = "'employee-display-options'"
  [ngClass.lt-sm] = "'employee-display-options-mobile'"
  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

  <div
    [ngClass.gt-xs] = "'filter-sort-employees'"
    [ngClass.lt-sm] = "'filter-sort-employees-mobile'"
    fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayout.xs="row"
    fxLayoutAlign.xs="space-between center">

    <mat-form-field appearance="outline">
      <mat-label>Filter Status</mat-label>
      <mat-select (selectionChange)="OnFilterSelect($event)">
        <mat-option value="all">All Employees</mat-option>
        <mat-option value="verification-completed" style="color: green">Verification Completed</mat-option>
        <mat-option value="vefication-failed" style="color: red">Verification Failed</mat-option>
        <mat-option value="verification-pending" style="color: yellowgreen">Verification Pending</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select (selectionChange)="OnSortSelect($event)">
        <mat-option value="name">Name</mat-option>
        <mat-option value="date-registration">Date of Registration</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    [ngClass.gt-xs] = "'search-employees'"
    [ngClass.lt-sm] = "'search-employees-mobile'"
    fxLayout="row" fxLayoutAlign="end">
    <mat-form-field
      [ngClass.gt-xs] = "'search-form-field'"
      [ngClass.lt-sm] = "'search-form-field-mobile'"
      appearance="outline">

      <mat-label class="search-form-label">Search</mat-label>
      <input type="text" matInput [formControl]="emailFormControl"
        placeholder="Search by Employee Name, Role or email" class="search-form-input" />
    </mat-form-field>&nbsp;

    <button mat-raised-button color="primary" class="search-button">
      <mat-icon aria-label="i">search</mat-icon>
    </button>
  </div>
</div>

<mat-card
  [ngClass.gt-xs] = "'employee-card'"
  [ngClass.lt-sm] = "'employee-card-mobile'"
  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start"
  *ngFor="let n of numSequence(6)">

  <mat-card-header fxFlex="60" [ngClass.lt-sm] = "'employee-card-header-mobile'">
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
    <mat-card-title class="employee-name">Employee 1</mat-card-title>
    <mat-card-subtitle class="employee-email" *ngIf="!isSmall">abc@xyz.com</mat-card-subtitle>
  </mat-card-header>

  <div class="employee-email-mobile" *ngIf="isSmall">abc@xyz.com</div>
  <mat-card-content
    [ngClass.gt-xs] = "'status-container'"
    [ngClass.lt-sm] = "'status-container-mobile'"

    fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between enter" fxFlex="40">
    <div class="verification-done" *ngIf="verificationStatus === 'verified'" fxLayout="row"
      fxLayoutAlign="start center">
      <mat-icon aria-label="i">check_circle_outline</mat-icon>
      &nbsp;
      <div class="verification-text">Employee Verified</div>
    </div>

    <div class="verification-failed" *ngIf="verificationStatus === 'rejected'" fxLayout="row"
      fxLayoutAlign="start center">
      <mat-icon aria-label="i">cancel</mat-icon>
      <div class="verification-text">Employee Verified</div>
    </div>

    <div class="verification-pending" *ngIf="verificationStatus === 'pending'" fxLayout="row"
      fxLayoutAlign="start center">
      <mat-icon aria-label="i">pending</mat-icon>
      <div class="verification-text">Employee Verification Pending</div>
    </div>

    <button mat-raised-button color="primary" [ngClass]="{
        'employee-buttons-mobile': isSmall,
        'employee-buttons': !isSmall
      }">
      View Profile
    </button>
  </mat-card-content>

</mat-card>

<div class="employee-paginator">
  <mat-paginator [length]="paginator.length" [pageSize]="paginator.currentPageSize"
    [pageSizeOptions]="paginator.pageSizeOptions" (page)="OnPageChange($event)" [hidePageSize]="isSmall">
  </mat-paginator>
</div>
</div>
