.mat-form-field {
  margin-top: 2%;
}
.pwdField{
  width: 23%;
}
.mat-form-field{
  width: 50%;
}
.signupHeading
{
  font-family: Montserrat;
  text-align: center;
  margin-top: 2rem;
}
textarea{
  resize: none;

}
